/.idea/shelf/Uncommitted_changes_before_Checkout_at_12_11_2025_9_57_PM_[Changes]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Checkout_at_12_11_2025_10_32_PM_[Changes]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Update_at_12_8_2025_10_54_PM_[Changes]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Update_at_12_10_2025_11_55_PM_[Changes]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Update_at_12_13_2025_1_11_PM_[Changes]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Checkout_at_12_11_2025_9_57_PM__Changes_.xml
/.idea/shelf/Uncommitted_changes_before_Checkout_at_12_11_2025_10_32_PM__Changes_.xml
/.idea/shelf/Uncommitted_changes_before_Update_at_12_8_2025_10_54_PM__Changes_.xml
/.idea/shelf/Uncommitted_changes_before_Update_at_12_10_2025_11_55_PM__Changes_.xml
/.idea/shelf/Uncommitted_changes_before_Update_at_12_13_2025_1_11_PM__Changes_.xml
/.idea/editor.xml
/.idea/University_management_system.iml
/.idea/vcs.xml
/.idea/workspace.xml
